<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brotherjing.server" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.Camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- begin: baidu speech sdk -->
        <!-- 请填写应用实际的APP_ID -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="7031386"/>
        <!-- 请填写应用实际的API_KEY -->
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="gxF67xov7DA1QE2Hb9CC5UFu"/>
        <!-- 请填写应用实际的SECRET_KEY -->
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="9f3577b4430c60e1bbaa98bdeb504f90"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.TCPServer"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".activity.VideoActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.SimpleVideoActivity"
            android:label="@string/title_activity_simple_video"
            android:screenOrientation="landscape" >
        </activity>

        <service
            android:name=".service.UDPServer"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.QrcodeActivity"
            android:label="@string/title_activity_qrcode" >
        </activity>
        <activity
            android:name=".activity.BluetoothActivity"
            android:label="@string/title_activity_bluetooth"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <service
            android:name=".service.BluetoothService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
