<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.brotherjing.client"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- baidu ASR -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- vuforia -->
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- vibration -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- begin: baidu speech sdk -->
        <!-- 请填写应用实际的APP_ID -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="7031386"/>
        <!-- 请填写应用实际的API_KEY -->
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="gxF67xov7DA1QE2Hb9CC5UFu"/>
        <!-- 请填写应用实际的SECRET_KEY -->
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="9f3577b4430c60e1bbaa98bdeb504f90"/>

        <!--
        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />
        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <!-- end : baidu speech sdk -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SocketmsgActivity"
            android:label="@string/title_activity_socketmsg">
        </activity>
        <activity android:name=".vuforia.ImageTargets.ImageTargets"/>
        <activity
            android:name=".ClientActivity"
            android:label="@string/title_activity_client">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".SensorActivity"
            android:label="@string/title_activity_sensor">
        </activity>

        <service
            android:name=".service.TCPClient"
            android:exported="false">
        </service>

        <activity
            android:name=".activity.ViewCameraActivity"
            android:label="@string/title_activity_view_camera"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".QRcode.QRcodeActivity"
            android:label="@string/title_activity_qrcode"/>
        <activity
            android:name=".QRcode.MipcaActivityCapture"
            android:label="@string/title_activity_mipca"/>

        <service
            android:name=".service.UDPClient"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".UI.DemoActivity"
            android:label="@string/title_activity_demo">
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/MaterialDrawerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".IpPortActivity"
            android:label="@string/title_activity_ip_port"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomePageActivity">
        </activity>
    </application>

</manifest>
